mat-list-item:nth-child(odd){
    background-color:#f2f2f2;
}

.popularityNum{
    position:absolute;
    transform:translateX(40%) translateY(20%);
}

.photo{
    width:100%;
}
mat-list-item{
    margin-left:0px;
    margin-right:0px;
}

.biggerFont{
    font-size:18px;
}