/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.blue{
    color:#0068d1;
}
.bold{
    font-weight: bold;
}

/* for favorite button */
.star{
color: #e5c600;
}
.starBorder{
color: black; 
}
.starButton{
background-color:white;
}
  
.noPadding{
    padding: 0px;
}

.container{
    padding: 0px;
}