<div class="container">
  <div class="row">
      <div class="col-12 text-center bold">{{eventDetails.name}}</div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-light btn-sm backButton" (click)="service.ShowResults()">
        &lt; List
      </button>
    </div>
    <div class="col-6">

      <button (click)= "service.Favorited(service.currentSearchResult);" class="starButton float-right" type="button">
          <i class="material-icons starBorder" [hidden]="service.isFav(service.currentSearchResult)">star_border</i>
          <i class="material-icons star" [hidden]="!service.isFav(service.currentSearchResult)">star</i>
      </button>
      <a class="twitter-share-button float-right twitterButton"
      [href]="TweetURL()" target="_blank">
        <img src="http://csci571.com/hw/hw8/Images/Twitter.png">
      </a>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="end" class="row">
    <mat-tab label="Event"><app-tab-event></app-tab-event></mat-tab>
    <mat-tab label="Artist/Teams"><app-tab-artist></app-tab-artist></mat-tab>
    <mat-tab label="Venue"><app-tab-venue></app-tab-venue></mat-tab>
    <mat-tab label="Upcoming Events"><app-tab-upcoming></app-tab-upcoming></mat-tab>
  </mat-tab-group>
</div>