<div class="container">
  <div class="jumbotron" style="border: 1px solid #8e8e8e; background-color:#f4f4f4; padding:10px 100px;">
    <p class="text-center" style="font-weight:bold;">Entertainment Event Ticket Search</p>
    <form name="myform" method="POST" id="myForm">
        <div class="form-group row">
            <label class="col-3 col-form-label">Keyword</label>
            <input class="form-control col-9" type="text" id="keyword" name="keyword" required/>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Category</label>
            <select class="form-control col-3" name="Category" id="Category">
                <option value="default" selected>All</option>
                <option value="music">Music</option>
                <option value="sports">Sports</option>
                <option value="artsAndTheatre">Arts & Theatre</option>
                <option value="film">Film</option>
                <option value="miscellaneous">Miscellaneous</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Distance</label>
            <input class="form-control col-3" type="text" id="distance" name="distance" placeholder="10"/>
            <select class="form-control col-3 offset-1" name="Category" id="Category">
                <option value="default" selected>Miles</option>
                <option value="music">Kilometers</option>
            </select>~
        </div>
        
        <div class="form-group row" style="margin-bottom:0">
            <label class="col-3 col-form-label">From</label>
            <div class="col-9 custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="hereLocationRadio" name="startLocation" value="here" onClick="UpdateRadio()">
              <label class="custom-control-label" for="hereLocationRadio">Current location</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-3 col-9 custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="otherLocationRadio" name="startLocation" value="other" onClick="UpdateRadio()">
              <label class="custom-control-label" for="otherLocationRadio">Other, Please specify:</label>
            </div>
        </div>
        <div class="form-group row">
            <input class="offset-3 form-control" type="text" id="otherLocationText" name="otherLocationText"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-sm" id="searchButton" onClick="Submit(); return true;" name="search" value="Search" disabled><i class="material-icons"><div style="font-size:60%;">search</div></i>Search</button>
            <button class="btn btn-light btn-sm" onClick="Reset(); return false;" name="clear" value="Clear" style="border: 1px solid #aeaeae; margin-left: 10px;"><i class="material-icons"><div style="font-size:60%;">clear_all</div></i>Clear</button>
        </div>
       
        <input type="hidden" id="myLat" name="myLat">
        <input type="hidden" id="myLon" name="myLon">
    </form>
  </div>
</div>

